.navbar {
  width: calc(100% - 500px);
  padding: 20px 40px;
  box-sizing: border-box;
  margin-bottom: 40px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar .logo {
  font-weight: bold;
  color: var(--heading-color);
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}
.navbar .logo img {
  margin-right: 10px;
  filter: invert(25%);
  width: 36px;
  margin-top: -8px;
}
.navbar a {
  color: #333;
  text-decoration: none;
  margin-right: 20px;
}

@media only screen and (max-width: 1024px) {
  .navbar {
    width: calc(100% - 250px);
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    padding: 20px 15px;
  }
  .navbar .logout-btn {
    display: none;
  }
  .navbar .hamburger-menu {
    width: 30px;
    height: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navbar .hamburger-menu span {
    width: 100%;
    height: 3px;
    background-color: var(--text-color);
    display: block;
  }
}
