.project-list {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-list a {
  background-color: #fff;
  padding: 16px;
  border-radius: 6px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  text-decoration: none;
  color: inherit;
  width: 32%;
  margin-bottom: 15px;
}
.project-list h4 {
  font-size: 1.2em;
  color: var(--heading-color);
}
.project-list p {
  color: var(--text-color);
  font-size: 0.9em;
}
.project-list .assigned-to {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}
.project-list ul {
  margin: 10px 0;
  display: flex;
}
.project-list li {
  margin-right: 10px;
}
.project-list .avatar {
  width: 30px;
  height: 30px;
}

.project-list .category-tag {
  padding: 0 8px;
  font-size: 0.8em !important;
  border-radius: 5px;
  color: #fff !important;
  display: inline-block;
  margin-bottom: 5px;
}

.project-list category-mine {
  background-color: rgb(168, 122, 255);
}

.project-list .category-design {
  background-color: rgb(50, 212, 118);
}

.project-list .category-dev {
  background-color: rgb(58, 151, 238);
}

.project-list .category-marketing {
  background-color: rgb(251, 122, 251);
}

.project-list .category-sales {
  background-color: rgb(246, 157, 74);
}

@media only screen and (max-width: 1024px) {
  .project-list {
    flex-direction: column;
  }
  .project-list a {
    width: 100%;
    margin-bottom: 20px;
  }
  .project-list a:last-child {
    margin-bottom: 0;
  }
}
